site_name: Generate Documentation from Code
use_directory_urls: false

theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_source: true
            heading_level: 2

nav:
  - Home: index.md
  - Python API Reference: pythonapi.md
  - Rust API Reference: /home/permito/PW/Inżynierka/tutorial/rust/target/doc/example/index.html
  - Dokumentuj jak wąż: howtopython.md
  - Dokumentuj jak krab: howtorust.md
  - Dokumentuj w MkDocs: howtomkdocs.md 
