name: Rust CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: Verify code formatting
        run: cargo fmt -- --check

      - name: Run static analysis
        run: cargo clippy -- -D warnings -A clippy::upper_case_acronyms

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

